<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 2</title>
</head>
<body>
    <h1>This is the html page linked to tut2.py</h1>
    <h2>Let's hope it works !</h2>
    <h3>This should print your name : {{content}}</h3>
    <h3>We can also write python code in html</h3>
    <h3>Lines below are output of a python code written in HTML</h3>
    {%for i in range (5)%}
    <h4>Hello {{i+1}}</h4>
    {%endfor%}
    <h4></h4>
</body>
</html>